@model IEnumerable<EntityLayer.Concrete.Medicine>

@{
    ViewData["Title"] = "Index";
    Layout = "Layout";
}

<h1>Index</h1>

<p>
    <a class="btn btn-default" style="background-color:forestgreen" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Expriy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leaf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expriy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leaf.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Id)
            </td>
            <td>
                <a class="btn btn-default" style="background-color:yellow" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-default" style="background-color:blue" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
