@model EntityLayer.Concrete.Leaf

@{
    ViewData["Title"] = "Details";
    Layout = "Layout";
}

<h1>Details</h1>

<div>
    <h4>Leaf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeafType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeafType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberPerBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberPerBox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
