<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Pharmacy Managment"] - Pharmacy</title>

    <link href="~/plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/img/favicon/1612675588_2e4ae5951792e016e4c5.png">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock Salt:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/select2-bootstrap4/dist/select2-bootstrap4.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/toastr/toastr.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/modals/component.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/icheck/skins/all.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/css/style.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/vakata-jstree/dist/themes/default/style.min.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/css/print.css" rel="stylesheet">
    <link href="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/css/custom.css" rel="stylesheet">
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/jQuery/jquery.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
</head>

<body class="fixed sidebar-collapse">
    <div class="wrapper">
        <!--Sidebar-->

        @*<partial name="Shared/_Sidebar.cshtml" />*@
        @Html.Partial("_Sidebar")
        <!--/Sidebar-->
        <div class="content-wrapper my-auto">
            <div class="main-content">
                <!--Navbar-->
                @Html.Partial("_Navbar")
                <!--/Navbar-->
                <!--Renderbody-->
                @RenderBody()
                <!--/RenderBody-->
                <!--Footer-->
                @Html.Partial("_Footer")
                <!--/Footer-->

            </div>
        </div>
    </div>


    <!--JQUERY-->
    <script src="~/build/js/CardRefresh.js"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/popper.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/bootstrap/js/bootstrap.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/metisMenu/metisMenu.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>

    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/sparkline/sparkline.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>


    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/sidebar.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/chartJs/Chart.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>

    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.bootstrap4.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.responsive.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/responsive.bootstrap4.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/dataTables.buttons.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/buttons.bootstrap4.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/jszip.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/pdfmake.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/vfs_fonts.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/buttons.html5.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/buttons.print.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/datatables/data-bootstrap4.active.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/moment/moment.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/daterangepicker/daterangepicker.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>

    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/sweetalert/sweetalert.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/toastr/toastr.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/select2/dist/js/select2.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/vakata-jstree/dist/jstree.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>

    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/pages/tree-view.active.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/print.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/modals/classie.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/modals/modalEffects.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/plugins/icheck/icheck.min.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/pages/icheck.active.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://pharmacyv5.bdtask.com/pharmacare-9.4_demo/assets/dist/js/pages/custom.js" type="d7cd556611c0362d25f5d6b7-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d7cd556611c0362d25f5d6b7-|49" defer=""></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"67655b4cd8c650ab","token":"4e0c83f93d3046d09e1031a529120ea1","version":"2021.7.0","si":10}'></script>

    @RenderSection("scripts", required: false)
</body>
</html>